---
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={["app-layout", !noMarginTop && "footer-wrap", className]}
  {...attrs}
>
  <div class="footer-inner">
    <Socials />
    <div class="footer-copy">
      <span>Copyright &#169; {currentYear}</span>
      <span class="footer-divider">&nbsp;|&nbsp;</span>
      <span>All rights reserved.</span>
    </div>
  </div>
</footer>
