---
// The <dialog> modal shell. Content is injected by modal.ts from <template> tags.
---

<dialog id="work-modal" class="work-modal">
  <div class="modal-inner">
    <button id="modal-close" class="modal-close-btn" aria-label="Close modal">
      &times;
    </button>
    <div id="modal-content">
      <!-- Populated by modal.ts -->
    </div>
  </div>
</dialog>
